html, body {
  margin: 0;
  padding: 0;
}


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 600px;
  width: 600px;
  border: 1px solid black;
  margin: 5% auto;
}

.menu {
  margin: auto;
}

.selected {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}


