html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(204, 255, 255);
}

header {
  text-align: center;

}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 600px;
  width: 600px;
  border: 1px solid black;
  margin: 2% auto;
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.selected {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}


